<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form_group">
            <label for="cname" class="text-light">c_name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="c_name" value="" placeholder="ur name">
        </div>
        <div class="form_group">
            <label for="cduretion" class="text-light">c_duration</label>
            <input type="text" name="c_duration" value="" placeholder="duration">
        </div>
        <div class="form_group">
            <label for="cfees" class="text-light">c_fees</label>
            <input type="text" name="c_fees" value="" placeholder="Course_fees">
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="rideo inline">
                <input type="radio" id="radio-2" name="status" value="Active">
                <label for="radio-2" class="text-light">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="status" value="Inactive">
                <label for="radio-3" class="text-light">Inactive</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
        </div>
    </div>
</form>